#logo{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
body{
    background-color: grey;
}

section a img {
    max-width: 200px;
    max-height: 200px;
    box-shadow: inset;
    box-shadow: rgb(138, 21, 10);

}

#sub-main-container{
    display: flex;
    
}